.rapido * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body.rapido {
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #353839;
}

.rapido main {
	max-width: 980px;
	padding-left: 100px;
	margin: 50px 0 0 0;
}

.rapido footer {
	background: #ededed;
	padding: 0 100px;
	margin: 0;
	min-height: 50px;
	display: flex;
	align-items: center;
	font-size: 13px;
}

.rapido footer > p {
	padding: 0;
	margin: 0;
}

.rapido a {
	color: #2243b6;
}

.rapido section {
	width: 100%;
	padding: 10px 0;
}

.rapido section > h1 {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 30px 0;
}

.rapido section > h2 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

.rapido section > h1::before {
	content: '/';
	padding-right: 10px;
	margin-left: -25px;
}

.rapido p,
.rapido section p {
	max-width: 640px;
	margin: 0 0 20px 0;
}

.rapido p {
	font-size: 17px;
	line-height: 27px;
}

.rapido header {
	max-width: 640px;
	margin: 50px 0 0 0;
	padding: 0;
}

.rapido header > address {
	font-style: normal;
	margin-bottom: 20px;
}

.rapido header > address::before {
	content: "AUTHORS: ";
	font-style: normal;
	font-size: 12px;
	opacity: 0.7;
}

.rapido blockquote {
	width: 640px;
	border-top: 2px solid #353839;
	border-bottom: 2px solid #353839;
	padding-top: 20px;
	margin: 0 0 20px 0;
}

.rapido blockquote > p {
	font-size: 30px;
	line-height: 45px;
}

.rapido blockquote > cite {
	display: block;
	text-align: right;
	font-size: 17px;
	line-height: 27px;
	font-style: italic;
}

.rapido blockquote > cite::before {
	content: "– "
}

.rapido header > h1 {
	font-size: 100px;
	line-height: 115px;
	font-weight: bold;
	margin: 0 0 50px 0;
}

.rapido header > p {
	font-size: 20px;
	line-height: 35px;
}

.rapido figure {
	margin: 20px 0 20px 0;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.rapido figcaption {
	width: 220px;
	margin-left: 20px;
}

@media (max-width: 1079px) {
	.rapido figcaption {
		width: 640px;
		margin: 5px 0 0 0;
	}
}

.rapido figure > div {
	width: 640px;
	overflow: scroll;
	background-color: #ededed;
}

.rapido figure > img,
.rapido figure > video {
	display: block;
	flex: 0 0 auto;
	width: 640px;
	height: auto;
	/* border: 1px solid #ededed; */
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.23);
	border-radius: 5px;
}

.rapido figure > p {
	width: 640px; 
}

.rapido figcaption > h1 {
	display: inline;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	margin: 0;
	padding: 0 5px 0 0;
}

.rapido figcaption > h1::after {
	content: '.';
}

.rapido figcaption > p {
	display: inline;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.rapido table {
	margin: 0;
	padding: 10px 10px;
	text-align: left;
	/* font-family: monospace; */
	font-family: inherit;
	font-size: 12px;
	background-color: #ededed;
}

.rapido tr {
	padding: 0;
	margin: 0;
}

.rapido td,
.rapido th {
	padding: 5px 10px 5px 10px;
	margin: 0;
	vertical-align: top;
}

.rapido ul,
.rapido ol {
	width: 640px;
	margin: 20px 0 20px 0;
	padding: 0;
	list-style: none;
}

.rapido li {
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #ededed;
	font-size: 14px;
	display: flex;
}

.rapido li > var {
	font-family: monospace;
	font-style: normal;
	font-weight: 700;
	flex: 0 0 auto;
	width: 100px;
	display: inline-block;
}

.rapido li > p {
	flex: 0 0 auto;
	width: 110px;
	text-overflow: ellipsis;
	white-space: wrap;
	overflow: hidden;
}

.rapido li > p:last-child {
	flex: 1 1 auto;
	width: auto;
}

.rapido li > span {
	flex: 0 0 auto;
	width: 30px;
}

.rapido li > p,
.rapido li > span,
.rapido li > var {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.rapido li > span:first-letter {
	text-transform: capitalize;
}

.rapido code {
	font-family: monospace;
	font-size: inherit;
	/* background: #ededed; */
	padding: 0;
	color: #0a7e8c;
}

.rapido strong {
	font-style: normal;
	font-weight: 700;
}

.rapido q,
.rapido em {
	font-style: italic;
	font-weight: normal;
}

.rapido p > img {
	vertical-align: middle;
}

.rapido pre {
	background: #ededed;
	font-family: monospace;
	font-size: 14px;
	width: 640px;
	padding: 10px;
	margin: 0;
	overflow: scroll;
	border-radius: 2px;
}

.rapido aside {
	width: 220px;
	float: right;
}

.rapido aside > p {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
}