* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #353839;
}

main {
	max-width: 980px;
	padding-left: 100px;
	margin: 50px 0 0 0;
}

footer {
	background: #ededed;
	padding: 0 100px;
	margin: 0;
	min-height: 50px;
	display: flex;
	align-items: center;
	font-size: 13px;
}

footer > p {
	padding: 0;
	margin: 0;
}

a {
	color: #2243b6;
}

section {
	width: 100%;
	padding: 10px 0;
}

section > h1 {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 30px 0;
}

section > h2 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

section > h1::before {
	content: '/';
	padding-right: 10px;
	margin-left: -25px;
}

p,
section p {
	max-width: 640px;
	margin: 0 0 20px 0;
}

p {
	font-size: 17px;
	line-height: 27px;
}

header {
	max-width: 640px;
	margin: 50px 0 0 0;
	padding: 0;
}

header > address {
	font-style: normal;
	margin-bottom: 20px;
}

header > address::before {
	content: "AUTHORS: ";
	font-style: normal;
	font-size: 12px;
	opacity: 0.7;
}

blockquote {
	width: 640px;
	border-top: 2px solid #353839;
	border-bottom: 2px solid #353839;
	padding-top: 20px;
	margin: 0 0 20px 0;
}

blockquote > p {
	font-size: 30px;
	line-height: 45px;
}

blockquote > cite {
	display: block;
	text-align: right;
	font-size: 17px;
	line-height: 27px;
	font-style: italic;
}

blockquote > cite::before {
	content: "– "
}

header > h1 {
	font-size: 100px;
	line-height: 115px;
	font-weight: bold;
	margin: 0 0 50px 0;
}

header > p {
	font-size: 20px;
	line-height: 35px;
}

figure {
	margin: 20px 0 20px 0;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

figcaption {
	width: 220px;
	margin-left: 20px;
}

@media (max-width: 1079px) {
	figcaption {
		width: 640px;
		margin: 5px 0 0 0;
	}
}

figure > div {
	width: 640px;
	overflow: scroll;
	background-color: #ededed;
}

figure > img,
figure > video {
	display: block;
	flex: 0 0 auto;
	width: 640px;
	height: auto;
	/* border: 1px solid #ededed; */
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.23);
	border-radius: 5px;
}

figure > p {
	width: 640px; 
}

figcaption > h1 {
	display: inline;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	margin: 0;
	padding: 0 5px 0 0;
}

figcaption > h1::after {
	content: '.';
}

figcaption > p {
	display: inline;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

table {
	margin: 0;
	padding: 10px 10px;
	text-align: left;
	/* font-family: monospace; */
	font-family: inherit;
	font-size: 12px;
	background-color: #ededed;
}

tr {
	padding: 0;
	margin: 0;
}

td,
th {
	padding: 5px 10px 5px 10px;
	margin: 0;
	vertical-align: top;
}

ul,
ol {
	width: 640px;
	margin: 20px 0 20px 0;
	padding: 0;
	list-style: none;
}

li {
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #ededed;
	font-size: 14px;
	display: flex;
}

li > var {
	font-family: monospace;
	font-style: normal;
	font-weight: 700;
	flex: 0 0 auto;
	width: 100px;
	display: inline-block;
}

li > p {
	flex: 0 0 auto;
	width: 110px;
	text-overflow: ellipsis;
	white-space: wrap;
	overflow: hidden;
}

li > p:last-child {
	flex: 1 1 auto;
	width: auto;
}

li > span {
	flex: 0 0 auto;
	width: 30px;
}

li > p,
li > span,
li > var {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

li > span:first-letter {
	text-transform: capitalize;
}

code {
	font-family: monospace;
	font-size: inherit;
	/* background: #ededed; */
	padding: 0;
	color: #0a7e8c;
}

strong {
	font-style: normal;
	font-weight: 700;
}

q,
em {
	font-style: italic;
	font-weight: normal;
}

p > img {
	vertical-align: middle;
}

pre {
	background: #ededed;
	font-family: monospace;
	font-size: 14px;
	width: 640px;
	padding: 10px;
	margin: 0;
	overflow: scroll;
	border-radius: 2px;
}

aside {
	width: 220px;
	float: right;
}

aside > p {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
}