.rapido * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body.rapido {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color: #353839;
	margin: 0;
	padding: 0;
}

.rapido article {
	width: 1024px;
	max-width: 100%;
	margin: auto;
	padding: 0 40px;
}

@media (max-width: 1023px) {
	.rapido article {
		width: 600px;
		padding: 0 20px 0 20px;
	}
}

.rapido a {
	color: inherit;
	text-decoration: underline;
}

.rapido section {
	width: 100%;
	padding: 10px 0;
}

.rapido section > h1 {
	font-size: 30px;
	line-height: 45px;
	width: 100%;
	max-width: 600px;
	font-weight: bold;
	margin: 0 0 30px 0;
}

.rapido section > h2 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	width: 100%;
	max-width: 600px;
	margin: 0 0 20px 0;
}

.rapido p,
.rapido section p {
	font-size: 18px;
	line-height: 30px;
	max-width: 600px;
	margin: 0 0 20px 0;
	position: relative;
}

.rapido span,
.rapido var {
	font-size: inherit;
	line-height: inherit;
}

.rapido code {
	font-family: "Consolas", "Courier", monospace;
	font-size: inherit;
	line-height: inherit;
	color: blue;
}

.rapido mark {
	background: rgba(0, 0, 255, 0.15);
	color: inherit;
}

.rapido strong {
	font-style: normal;
	font-weight: bold;
}

.rapido q,
.rapido em {
	font-style: italic;
	font-weight: normal;
}

.rapido div {
	width: 100%;
	max-width: 600px;
	overflow-y: hidden;
	overflow-x: auto;
}

.rapido p > img {
	vertical-align: middle;
}

.rapido pre {
	font-family: "Consolas", "Courier", monospace;
	background: #f4f4f4;
	font-size: 14px;
	line-height: 21px;
	width: 600px;
	padding: 10px;
	overflow-y: hidden;
	overflow-x: auto;
	border-radius: 2px;
}

.rapido section > aside {
	max-width: 600px;
	width: 100%;
	border-top: 2px solid #353839;
	border-bottom: 2px solid #353839;
	padding-top: 20px;
	margin: 0 0 20px 0;
}

.rapido section > aside > p {
	font-size: 30px;
	line-height: 45px;
	max-width: 600px;
	margin: 0 0 20px 0;
	position: relative;
}

.rapido section > blockquote {
	max-width: 600px;
	width: 100%;
	padding: 20px 40px 0 40px;
}

@media (max-width: 380px) {
	.rapido section > blockquote {
		padding: 20px 20px 0 20px;
	}
}

.rapido section > blockquote > p {
	font-size: 18px;
	line-height: 27px;
}

.rapido section > blockquote > p::before {
	content: '“';
}

.rapido section > blockquote > p::after {
	content: '”';
}

.rapido section > cite {
	display: block;
	text-align: right;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	max-width: 600px;
	margin: 0 0 20px 0;
}

.rapido section > cite::before {
	content: "– ";
}

.rapido figure {
	margin: 20px 0 20px 0;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.rapido figcaption {
	width: 324px;
	margin-left: 20px;
}

@media (max-width: 1023px) {
	.rapido figcaption {
		width: 600px;
		margin: 5px 0 0 0;
	}
}

.rapido figure > div {
	width: 600px;
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}

.rapido section figure > img,
.rapido section figure > video {
	display: block;
	flex: 0 0 auto;
	width: 600px;
	height: auto;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.23);
	border-radius: 3px;
	max-width: 100%;
}

.rapido section figure > p {
	width: 600px;
}

.rapido section figcaption > p {
	display: inline;
	font-size: 14px;
	line-height: 21px;
}

.rapido table {
	min-width: 600px;
	padding: 10px;
	text-align: left;
	font-family: inherit;
	font-size: 14px;
	line-height: 21px;
	border-collapse: collapse;
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
}

.rapido table thead {
	background-color: #f4f4f4;
}

.rapido table td,
.rapido table th {
	padding: 5px 10px;
	vertical-align: top;
}

.rapido table tr {
	border-bottom: 1px solid #ededed;
}

.rapido table th {
	border-right: 1px solid #e0e0e0;
}

.rapido table td,
.rapido table th:last-child {
	border-right: 1px solid #ededed;
}

.rapido article small {
	font-size: 14px;
	line-height: 21px;
	width: 324px;
	float: right;
	padding: 3px 0 0 0;
	position: absolute;
	right: calc(-324px - 20px);
	top: 0;
}

@media (max-width: 1023px) {
	.rapido article small {
		width: 100%;
		float: none;
		padding: 0;
		margin: 20px 0;
		position: relative;
		right: 0;
		display: block;
	}
}

.rapido article small > p {
	font-size: 14px;
	line-height: 21px;
}

.rapido article > header {
	width: 100%;
	margin: 50px 0;
}

@media (max-width: 1023px) {
	.rapido article > header {
		margin: 30px 0;
	}
}

.rapido article > header > h1 {
	font-size: 60px;
	line-height: 80px;
	font-weight: bold;
	margin: 0 0 50px 0;
}

.rapido section figcaption > h1,
.rapido article > header > figure > figcaption > h1 {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	padding: 0;
}

.rapido section figcaption > h1::after,
.rapido article > header > figure > figcaption > h1::after {
	content: '.';
}

@media (max-width: 1023px) {
	.rapido article > header > h1 {
		font-size: 40px;
		line-height: 60px;
	}
}

@media (max-width: 499px) {
	.rapido article > header > h1 {
		font-size: 30px;
		line-height: 45px;
	}
}

.rapido article > header > p {
	font-size: 30px;
	line-height: 45px;
	max-width: 100%;
}

.rapido article > header > address {
	font-style: normal;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
	display: block;
	flex-wrap: wrap;
	align-items: center;
}

.rapido article > header > address > a {
	margin: 5px 15px 5px 0;
}

.rapido main > header > img {
	position: absolute;
	left: 10px;
	top: 15px;
	height: 40px;
	width: auto;
}

.rapido article > header > img,
.rapido article > header > video {
	margin: 20px 0 20px 0;
}

.rapido article > header > img,
.rapido article > header > video,
.rapido article > header > figure > img,
.rapido article > header > figure > video {
	width: 100%;
	display: block;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.23);
	border-radius: 3px;
}

.rapido article > header > address > img {
	vertical-align: middle;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

.rapido article > header > figure > figcaption {
	width: 100%;
	margin: 5px 0 0 0;
}

.rapido article ul,
.rapido article ol {
	max-width: 600px;
	width: 100%;
	list-style-position: inside;
	margin: 0 0 20px 0;
}

.rapido article ul {
	list-style-type: disc;
}

.rapido article ol {
	list-style-type: decimal;
}

.rapido article li {
	font-size: 14px;
	line-height: 21px;
}

.rapido article li > p,
.rapido article > header > figure > figcaption > p {
	font-size: 14px;
	line-height: 21px;
	display: inline;
}

.rapido main > header {
	width: 100%;
	min-height: 70px;
	margin: 0;
	padding: 0;
}

.rapido main > header > nav {
	display: none;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

.rapido main > header > nav a {
	display: flex;
	position: relative;
}

.rapido main > header > button {
	display: none;
	height: 70px;
	width: 100%;
	text-align: right;
	background: #fff;
	border: 0;
	min-height: 70px;
	border-bottom: 1px solid #ededed;
}

.rapido main > header > button > a {
	font-size: 30px;
	text-decoration: none;
	color: inherit;
	padding: 0 25px;
}

.rapido main > header > nav + button {
	text-align: center;
	border-bottom: 2px solid #353839;
}

.rapido main > header > nav + button > a {
	font-size: 16px;
	text-decoration: none;
	color: inherit;
	opacity: 0.5;
}

.rapido main > header > button:first-child {
	text-align: right;
}

.rapido main > header > nav > ul {
	display: block;
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.rapido main > header > nav > ul > li {
	border-bottom: 1px solid #ededed;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 20px;
}

.rapido main > header > nav > ul > li > a {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #353839;
	height: 100%;
	width: 100%;
}

.rapido main > header > nav > ul > li > a > img {
	width: 30px;
	margin: 0 0 0 10px;
	vertical-align: middle;
}

@media only screen and (min-width: 1024px) {
	.rapido main > header {
		min-height: 90px;
		border-bottom: 1px solid #ededed;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.rapido main > header > img {
		top: unset;
		left: 40px;
	}

	.rapido main > header > nav {
		display: block;
		position: relative;
		overflow: visible;
	}

	.rapido main > header > nav > ul {
		min-height: 0;
	}

	.rapido main > header > nav > ul > li {
		display: inline-block;
		border-bottom: 0;
		min-height: 0;
		padding: 0 40px 0 0;
	}
}

/* hint from https://github.com/codezero-be/responsive-nav */
@media only screen and (max-width: 1023px) {
	.rapido main > header > button:first-child {
		display: block;
	}

	.rapido main > header > nav:hover + button,
	.rapido main > header > nav:hover,
	.rapido main > header > button:first-child:hover + nav,
	.rapido main > header > button:first-child:hover + nav + button {
		display: block;
	}
}

.rapido main > footer:last-child {
	width: 100%;
	height: 50px;
	border-top: 1px solid #ededed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rapido main > footer:last-child p,
.rapido main > footer:last-child small {
	font-family: "Consolas", "Courier", monospace;
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

.katex-display {
	padding: 10px 0 !important;
}
